@import 'setup';

// import fonts

@font-face {
    src: url(fonts/stratumNo1Medium.ttf);
    src: url(fonts/stratumNo1Medium.woff);
    src: url(fonts/stratumNo1Medium.woff2);
    font-family: 'stratumno1medium';
}

// custom styles begin

img, section {
    margin: 0;
    padding: 0;
}

sup {
    position: relative;
    top: -3px;
}

h1 {
    font-family: 'stratumno1medium';
    text-transform: uppercase;
    color: white;
    margin: 0;
    padding: 0;
}

main {
    max-height: 250px;
    max-width: 300px;
    overflow: hidden;
    position: relative;
    .frame-1 {
        position: absolute;
        z-index: 1;
        top:0;
        left: 0;
    }

    .frame-2 {
        .gradient {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
        }
        .full-van {
            position: relative;
        }
    }

    .frame-text {
        position: absolute;
        top: 0;
        width: 300px;
        font-size: 10px;
        text-align: center;
        z-index: 3;
        h1:first-of-type {
            margin-top: 15px;
        }

        .text-2, .text-3, .text-4, .text-5 {
            position: relative;
        }

        .text-2, .text-3 {
            top: 10px;
        }

        .text-4{
            font-size: 24px;
        }
        .text-5 {
            font-size: 14.5px;
        }
    }
    
    .logo-button {
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 5;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        .get-more {
            text-decoration: none;
            font-family: 'stratumno1medium';
            background:linear-gradient(to bottom, #c61d23, #a0171c);
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            font-size: 14px;
            border-radius: 2px;
            box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.31);
            width: 107px;
            height: 26px;
            overflow: hidden;
            position: absolute;
            top: 40%;
            right:-42px;
            transform: translate(-50%, -50%);
            &:before {
                content: '';
                position: absolute;
                top: -40%;
                right: 130%;
                width: 10px;
                height: 200%;
                background: rgba(white, .3);
                transform: rotate(20deg);
            }
            
            &:hover {
                &:before {
                right: -50%;
                transition: 1s ease all;
                }
            }
        }  
    }
}

// button glare on banner roll over

main:hover, main:active, main:focus {
    .get-more {
        box-shadow: 1px 2px 5px 0px rgba(133, 133, 133, 0.31);
        background:linear-gradient(to bottom, #f5252c, #c61d23);
        &:before {
            right: -50%;
            transition: 1s ease all;
        }
    }
}




